{%extends "main_template.html"%}

{% block content %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Pokoje v resortu</h2>
                        <p class="lead mb-5">
                            Protože celá akce je trochu na rychlo, v resortu už mají pouze jeden volný pokoj. Ten bude sloužit k převlékání a večer k ubytování těch z největší dálky.</a> <br />
                        </p>


                        <h2>Stany</h2>
                        <p class="lead mb-5">
                            Máme dovoleno si u lesa postavit stany. Ráno zaplatíte 100 Kč za snídani v restauraci. Za nás supr deal i s dobrodružstvím. <br /> I my spíme pod širákem. :)
                           
                        </p>

                        <h2>Ala hotel v Bytřici </h2>
                        <p class="lead mb-5">
                            <a href="https://alahotel.cz/">**** hotel v Bytřici .</a> Protože chápeme, že ne každému se chce spát pod stanem, zarezervovali jsme pár pokojů v Ala hotelu v Bystřici nad Perštejnem. Cena je cca 1000 Kč za hlavu i se snídaní a účastníci si ji platí sami. Odvoz ze svatby zajistíme. Pokud máte o pokoj zájem, dejte nám prosím vědět co nejdříve.
                
                     
                        <br>
                        <br>
    
                        


                        <a class="btn btn-dark btn-xl" href="/">ZPĚT NA ÚVODNÍ STRANU!</a>
                    </div>
                </div>
            </div>
        </section>



{% endblock%}
