{%extends "main_template.html"%}

{% block content %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Kde a kdy </h2>
                        <p class="lead mb-5">
                            Obřad proběhne v Arboretu v Novém Městě na Moravě. Místo začneme chystat od cca 12 hodiny. Obřad začíná ve 13:00.
                            V době obřadu budou probíhat ve městě slavnosti, proto bude pravděpodobně problém s parkováním. Přijeďte tedy prosím brzo. 
                            <a href="https://mapy.cz/s/jeconobeza"> Arboretum najdete zde.</a> <br />
                            Typy na parkování:
                            <br />
                            <a href="https://mapy.cz/s/luludurapu"> 1. typ u garáží </a> <br />
                            <a href="https://mapy.cz/s/cevopebugu"> Možná i zde, ale nejspíš se jedná o soukromé parkoviště penzionu?</a> <br />
                            <a href="https://mapy.cz/s/cakacosure"> Parkovistě u Billy. Trochu dál, ale jistota.</a> <br />

                        </p>

                        <h3>
                            Les Resort Borovinka
                            
                        </h3>
                        <p class="lead mb-5">
                            <a href="https://www.borovinka.cz">Odkaz na resort</a> <br />
                            V resortu se sejdeme v 14:45. V 15:00 se podává oběd. <br />
                            Vy, kteří budete spát v Ala hotelu si mezi obřadem a obědem prosím vyřiďte kartu od hotelového pokoje a domluvte se s ostatními hosty kdo Vás odveze od Ala hotelu do resortu Borovinka. 
                            Les Resort Borovinka se nachází v obci Domanín, kousek od Bystřice nad Perštejnem.
                            Adresa resortu je: <br />
                            Domanín 127 <br />
                            tel. +420 777 836 <br />
                            e-mail: info@borovinka.cz <br />
                            web: https://www.borovinka.cz <br />



                        </p>
                        <a class="btn btn-dark btn-xl" href="/">ZPĚT NA ÚVODNÍ STRANU!</a>
                    </div>
                </div>
            </div>
        </section>



{% endblock%}
