{%extends "main_template.html"%}

{% block content %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Kde a kdy </h2>
                        <p class="lead mb-5">
                            Svatba proběhně na Farmě Tasov 30.9.2022, odkaz na mapy <a href="https://mapy.cz/s/keponezuja"> zde.</a> <br /> Těšit se na Vás budeme od čtvrtka do soboty.
                        </p>

                        <h3>
                            Farma Tasov

                        </h3>
                        <p class="lead mb-5">
                            Farmu Tasov jsme vybrali pro její krásu a minimální úsilí pro nás, protože pan majitel už to má všechno parádně zmáknuté.
                            Adresa hotelu je: <br />
                            Tasov 9, 67579 Tasov <br />
                            tel. +420 731 204 025 <br />
                            e-mail: provozni@farmatasov.cz <br />
                            web: www.farmatasov.cz <br />



                        </p>
                        <a class="btn btn-dark btn-xl" href="/">ZPĚT NA ÚVODNÍ STRANU!</a>
                    </div>
                </div>
            </div>
        </section>



{% endblock%}
