{%extends "main_template.html"%}

{% block content %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Farma Tasov</h2>
                        <p class="lead mb-5">
                            Odkaz na samotné stránky farmy naleznete zde: <a href="https://mapy.cz/s/keponezuja"> odkaz na mapy.cz</a> <br />
                        </p>


                        <h2>Pokoje</h2>
                        <p class="lead mb-5">
                            Určitě doporučujeme procházku podél vodní nádrže Vír jejíž vodou je napájeno celé Brno i Žďár: <a href="https://mapy.cz/s/bonabamece"> odkaz na mapy.cz</a> <br />
                            Vodní nádrž vznikla za účelem regulace průtoku v povodí Svratky, zabránění povodním a energetického využití vodního toku. Původně se uvažovalo o jejím rekreačním využití, ale hned v počátcích provozu byl její význam doplněn o využití pro vodárenské účely.
                            Vír I je součástí souboru na sebe navazujících staveb, které umožňují komplexní využití vodního zdroje. Stavba vodního díla začala v roce 1947 a skončila roku 1957. Hlavním článkem souboru je betonová gravitační hráz výšky 66,2&nbsp;m, její koruna je široká 9&nbsp;m a dlouhá 390&nbsp;m. Mohutná hráz Vírské přehrady je třetí nejvyšší v republice (od základové spáry 76,5&nbsp;m).
                        </p>

                        <h2>Stany</h2>
                        <p class="lead mb-5">
                            Pro zdatné sportovce doporučujeme procházku okolo Víru spojit s výhledy na rozhledně Karasín, pro méně zdatné sportovce je možné si cestu zkrátit autem: <a href="https://mapy.cz/s/hohusegobo"> odkaz na mapy.cz</a> <br />
                            Zděná rozhledna i objekt u paty věže jsou postavené z betonových bloků a k jejich zpřístupnění došlo v roce 2002. Věž má čtverhranný půdorys a dosahuje výšky 28,2 metrů. Po vystoupání 128 schodů na ochoz rozhledny se vám naskytne výhled na rozhledny Babylon, Horní les, Milenka nebo Babí lom. Kochat se můžete pohledem na Bystřici nad Pernštejnem, hrad Zubštejn, Harusův kopec, Devět skal nebo Javořici.
                            Rozhledna je přístupná celoročně, nutno ověřit na webových stránkách. <br />
                            Vstup: zpoplatněný <br />

                        <h2>Hotel v Bytřici</h2>
                        <p class="lead mb-5">
                            Pro zdatné sportovce doporučujeme procházku okolo Víru spojit s výhledy na rozhledně Karasín, pro méně zdatné sportovce je možné si cestu zkrátit autem: <a href="https://mapy.cz/s/hohusegobo"> odkaz na mapy.cz</a> <br />
                            Zděná rozhledna i objekt u paty věže jsou postavené z betonových bloků a k jejich zpřístupnění došlo v roce 2002. Věž má čtverhranný půdorys a dosahuje výšky 28,2 metrů. Po vystoupání 128 schodů na ochoz rozhledny se vám naskytne výhled na rozhledny Babylon, Horní les, Milenka nebo Babí lom. Kochat se můžete pohledem na Bystřici nad Pernštejnem, hrad Zubštejn, Harusův kopec, Devět skal nebo Javořici.
                            Rozhledna je přístupná celoročně, nutno ověřit na webových stránkách. <br />
                            Vstup: zpoplatněný <br />

                        <h2>Pronajatá chata - nutný řidič</h2>
                        <p class="lead mb-5">
                            Pro zdatné sportovce doporučujeme procházku okolo Víru spojit s výhledy na rozhledně Karasín, pro méně zdatné sportovce je možné si cestu zkrátit autem: <a href="https://mapy.cz/s/hohusegobo"> odkaz na mapy.cz</a> <br />
                            Zděná rozhledna i objekt u paty věže jsou postavené z betonových bloků a k jejich zpřístupnění došlo v roce 2002. Věž má čtverhranný půdorys a dosahuje výšky 28,2 metrů. Po vystoupání 128 schodů na ochoz rozhledny se vám naskytne výhled na rozhledny Babylon, Horní les, Milenka nebo Babí lom. Kochat se můžete pohledem na Bystřici nad Pernštejnem, hrad Zubštejn, Harusův kopec, Devět skal nebo Javořici.
                            Rozhledna je přístupná celoročně, nutno ověřit na webových stránkách. <br />
                            Vstup: zpoplatněný <br />


                        <a class="btn btn-dark btn-xl" href="/">ZPĚT NA ÚVODNÍ STRANU!</a>
                    </div>
                </div>
            </div>
        </section>



{% endblock%}
