{%extends "main_template.html"%}

{% block content %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Přihláška </h2>
                        <p class="lead mb-5">

                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4ShFQxAwgA1t59UHkUFgdhegrSLF5dBtkDaQf3JEwceyHwQ/viewform?embedded=true" width="640" height="2129" frameborder="0" marginheight="0" marginwidth="0" onload="window.parent.scrollTo(0,0)">Načítání…</iframe>

                        <p class="lead mb-5">


                        <a class="btn btn-dark btn-xl" href="/">ZPĚT NA ÚVODNÍ STRANU!</a>
                    </div>
                </div>
            </div>
        </section>



{% endblock%}
