{%extends "main_template.html"%}

{% block content %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>Farma Tasov</h2>
                        <p class="lead mb-5">
                            Odkaz na samotné stránky farmy naleznete zde: <a href="https://www.farmatasov.cz/"> farma Tasov</a> <br />
                        </p>


                        <h2>Pokoje</h2>
                        <p class="lead mb-5">
                            Pěkné pokoje s rozložitelným gaučem. Fotky dodáme později.
                           
                        </p>

                        <h2>Stany</h2>
                        <p class="lead mb-5">
                            Stany s postelí, skříní a topením. Společné záchody a sprchy se nachází v hlavní budově.
                

                        <h2>Hotel ve Velkém Meziříčí</h2>
                        <p class="lead mb-5">
                            Odkaz na webové stránky dodáme později.
                      
                        <h2>Pronajatá chata - nutný řidič</h2>
                        <p class="lead mb-5">
                            Během svatby budeme mít pronajatou chatu asi 20 km od Tasova. Chata je vhodná pro 8 lidí. <a href="https://www.airbnb.cz/rooms/31247743?source_impression_id=p3_1647180320_24XNBpxP%2FeXzmeKv">Odkaz na ubytování.</a>
                      
                        <br>
                        <br>
    
                        


                        <a class="btn btn-dark btn-xl" href="/">ZPĚT NA ÚVODNÍ STRANU!</a>
                    </div>
                </div>
            </div>
        </section>



{% endblock%}
